*, *::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../imgs/2.jpg);
}
.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;  
}

img{ 
    max-width: 100%;  
}

ul{
    text-decoration: none;
    list-style: none;
}

.wallpaper-divider {
    padding-top: 13dvh;
    text-align:center;
   
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7dvh;
    background-color:#333; /* #F2F4F3; */
    color: #F2F4F3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.brand-title{
    font-size: 1.6rem;
    margin: .5rem;
}
.brand-title a{
    text-decoration: none;
    color: #F2F4F3;
}


.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li{
    list-style: none;
    font-size: 20px;
    margin-right: 10px;
    
}

.nav-links li a{
    text-decoration: none;
    color: #F2F4F3;
    padding: 1rem;
    display: block;
  
}

.nav-links li:hover{
    background-color: #555;
}


/* MAIN */
main{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

/* ABOUT */
#about{
    display: none;
    width: 100%;
    height: 100%;
    
}
.about-textContainer{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-text{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 100px;
    padding: 100px;
    width: 30%;
    background-color: #dadada;
    border-radius: 5px;
}

/* FORMA  */
#dodajUTablicu{
    display: none;
    width: 500px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #555;
}


/* table */

#table{
    display: block;
    padding: 20px 50px 50px 50px;
    background-color: #dadada;
    min-height: 60dvh;
    min-width: 70dvw;
    max-width: 80dvw;
    overflow-y: scroll;
    border-radius: 5px;

}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  }

  tr:nth-child(odd) {
    background-color: #ccc;
  }

  
  th {
    background-color: #333;
    color: #ccc;
  }
  
  tr:hover {
    background-color: #d8cd96;
  }


/* element */

#element{
    display: none;
    padding: 50px 50px;
    width: 60%;
    background-color: #dadada;
    border-radius: 5px;
}
.btnHolder{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    text-align: center;
    color: wheat;
}
.editBTN{
    margin-top: 50px;
    padding: 10px;
    width: 40%;
    background-color:#333;
}
.deleteBTN {
    margin-top: 50px;
    padding: 10px;
    width: 40%;
    color: white;
    background-color:#ad2020;
}
.entrysDiv{
    font-size: 18px;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid gray;
}
.entrysDiv:nth-child(odd){
    background-color: #ccc;
}
.entrysKeys{
   width: 30%;
}
.entrys{
   width: 70%;
   text-align: right;
   margin-left: 10px;
}



/* sort table */

#sortDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

#sortSelect{
 background-color: #ccc;
 border-radius: 5%;
 height: 35px;
}

#selectButton{
    border-radius: 5%;
    background-color: #333;
    color: white;
    padding: 10px;
}