<!DOCTYPE html>
<html>
<head>
  <title>Dodaj putovanje</title>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <link href='#' rel='icon'>
  <link rel='stylesheet' type='text/css' media='screen'  href="{{ url_for('static', filename='css/main.css') }}">
  <!-- <link rel='stylesheet' type='text/css' media='screen'  href="./assets/css/main.css"> -->
</head>
<body>
  <nav class="navbar sticky">
    <div class="brand-title"><a href="">Dnevnik putovanja </a></div>
    <a href="#" class="toggle-button" >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="nav-links">
      <ul>
          <li class="links"><a >Dodaj putovanje</a></li>
          <li class="links"><a >Moja putovanja</a></li>
          <li class="links"><a >O projektu</a></li>
      </ul>
    </div>
  </nav>
<div class="wallpaper-divider"></div>
<main>
  <section id="element">
      <div>
        <div class="entrysDiv"><b class="entrysKeys">ID</b> <span class="entrys">No.</span></div>
        <div class="entrysDiv"><b class="entrysKeys">Lokacija </b><span class="entrys"></span></div>
        <div class="entrysDiv"><b class="entrysKeys">Datum </b><span class="entrys"></span></div>
        <div class="entrysDiv"><b class="entrysKeys">Aktivnost</b> <span class="entrys"></span></div>
        <div class="entrysDiv"><b class="entrysKeys">Cijena </b><span class="entrys"></span></div>
        <div class="entrysDiv"><b class="entrysKeys">Dojmovi</b> <span class="entrys"></span></div>
        <span class="btnHolder">
        <div class="editBTN"><span class="entrys">Izmjeni</span></div>
        <div class="deleteBTN"><span class="entrys">Obrisi</span></div>
        </div>
        
      </div>
  </section>
  <section id="table">
    <table id="putovanja-table">
      <thead>
        <tr>
          <th>Lokacija</th>
          <th>Datum</th>
          <th>Aktivnost</th>
          <th>Cijena</th>
          <th>Dojmovi</th>
          <!-- <th>Izmjeni</th>
          <th>Obrisi</th> -->
        </tr>
      </thead>
      <tbody>
          
      </tbody>
    </table>
  </section>

  <section id="about">
    <div class="about-textContainer">
      <div class="about-text">
        <h1>About</h1>
        <p>Dnevnik putovanja je sustav koji omogućuje korisnicima da bilježe i upravljaju informacijama o svojim putovanjima.</p>
        <p> Cilj ovog sustava je omogućiti korisnicima da zabilježe različite aspekte putovanja, uključujući destinacije, datume putovanja, aktivnosti, troškove i dojmove.</p>
        <p>  Glavne funkcionalnosti dnevnika putovanja uključuju: Unos putovanja, Pregled putovanja, Ažuriranje putovanja, Brisanje putovanja, Sortiranje putovanja</p> 
      </div> 
    </div>
  </section>

  <section id="dodajUTablicu">
    <form>
      <label for="destinacija">Lokacija:</label>
      <input type="text" class="inputs" name="destinacija" required><br><br>
  
      <label for="datum">Datum:</label>
      <input type="date" class="inputs" name="datum" required><br><br>
  
      <label for="aktivnosti">Aktivnost:</label>
      <textarea class="inputs" name="aktivnosti" rows="4" required></textarea><br><br>
  
      <label for="troskovi">Cijena:</label>
      <input type="number" class="inputs" name="troskovi" required><br><br>
  
      <label for="dojmovi">Dojmovi:</label>
      <textarea class="inputs" name="dojmovi" rows="4" required></textarea><br><br>
  
      <input type="submit" id="submit" value="Dodaj">
    </form>
  </section>
</main>
    
</body>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- <script type="module" src="./assets/js/main.js"></script> -->
</html>
